In [50]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [51]:
nfl_frame = pd.read_clipboard(sep='\t')

In [52]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West

In [53]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [54]:
nfl_frame['First NFL Season']

0    1920
1    1960
2    1921
3    1966
4    1960
5    1950
Name: First NFL Season, dtype: int64

In [55]:
nfl_frame.Team

0           Chicago Bears
1          Dallas Cowboys
2       Green Bay Packers
3          Miami Dolphins
4    New England Patriots
5     San Francisco 49ers
Name: Team, dtype: object

In [56]:
nfl_frame[['Team','First NFL Season']]

                   Team  First NFL Season
0         Chicago Bears              1920
1        Dallas Cowboys              1960
2     Green Bay Packers              1921
3        Miami Dolphins              1966
4  New England Patriots              1960
5   San Francisco 49ers              1950

In [57]:
DataFrame(nfl_frame,columns=['Team','First NFL Season'])

                   Team  First NFL Season
0         Chicago Bears              1920
1        Dallas Cowboys              1960
2     Green Bay Packers              1921
3        Miami Dolphins              1966
4  New England Patriots              1960
5   San Francisco 49ers              1950

In [58]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Stadium'])

                   Team  First NFL Season  Stadium
0         Chicago Bears              1920      NaN
1        Dallas Cowboys              1960      NaN
2     Green Bay Packers              1921      NaN
3        Miami Dolphins              1966      NaN
4  New England Patriots              1960      NaN
5   San Francisco 49ers              1950      NaN

In [59]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North

In [60]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West

In [61]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Division                  AFC East
Name: 3, dtype: object

In [62]:
nfl_frame['Stadium']="Levi's Stadium"

In [63]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,Levi's Stadium

In [64]:
nfl_frame['Stadium']=np.arange(6)

In [65]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,5

In [66]:
stadiums = Series(["Levi's studium","AT&T Studium"],index=[4,0])

In [67]:
stadiums

4    Levi's studium
0      AT&T Studium
dtype: object

In [68]:
nfl_frame['Stadium']=stadiums

In [69]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,AT&T Studium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's studium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,NaN

In [70]:
del nfl_frame['Stadium']

In [71]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West

In [76]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,840000]}

In [77]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 840000]}

In [78]:
city_frame = DataFrame(data)

In [79]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC      840000