In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#サンプルデータ

import pandas.util.testing as tm
tm.N = 3

def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return DataFrame(data, columns=['date', 'variable', 'value'])

dframe = unpivot(tm.makeTimeDataFrame())

In [4]:
dframe

         date variable     value
0  2000-01-03        A -0.374158
1  2000-01-04        A -1.407573
2  2000-01-05        A -2.131786
3  2000-01-03        B -0.015427
4  2000-01-04        B  1.152559
5  2000-01-05        B -0.521069
6  2000-01-03        C  2.808692
7  2000-01-04        C -1.551441
8  2000-01-05        C  1.387175
9  2000-01-03        D  1.318101
10 2000-01-04        D -0.709933
11 2000-01-05        D  0.262304

In [7]:
dframe_piv = dframe.pivot('date','variable','value')# 行,列, 中身

In [6]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.374158 -0.015427  2.808692  1.318101
2000-01-04 -1.407573  1.152559 -1.551441 -0.709933
2000-01-05 -2.131786 -0.521069  1.387175  0.262304

In [ ]:
#めっちゃ便利やんこれ